{% extends 'base.html' %}
{% load static %}
{%block css%}
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style_empr_listar.css'%}">
{%endblock css%}
{% block contenido %}	
<div class="container" >
    <div class="row" style="margin: 0px 100px 0px 100px;">

        <!-- Baner de presentación-->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel"> 
        <div class="carousel-inner">

          {%if not categorias%}
          <div class="carousel-item active">
            <img src="{% static 'img/empr/comercio.jpg'%}" style="width: 100%" class="d-block w-100" alt="comercial">
            <div class="carousel-caption d-none d-md-block ">
                <h5>Emprendimiento Comercial</h5>
                <p>Negocios que se dedican a la venta de bienes o servicios al consumidores.</p>
              </div>
          </div>
          {%else%}
            {% for categoria in categorias%}
            <div class="carousel-item active">
              <img src="{{categoria.imagen.url}}" class="d-block w-100" alt="comercial">
              <div class="carousel-caption d-none d-md-block ">
                  <h5>{{categoria.nombre}}</h5>
                  <p>{{categoria.resumen}}</p>
                </div>
            </div>
            {%endfor%}
          {%endif%}
          

        </div>
        {%if num_categorias >= 2%}
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        {%endif%}
      </div>

        <div class="row d-flex justify-content-around text-center">
            <article class="col-lg-3 col-sm-12 contador">
                <span class="number" data-value="{{num_categorias}}">0 +</span>
                <p>Categorias</p>
            </article>
            <!-- end of single number -->
            <!-- single number -->
            <article class="col-lg-3 col-sm-12 contador">
                <span class="number" data-value="{{num_emprendimientos}}">0 +</span>
                <p>Emprendimientos</p>
            </article >
            <!-- end of single number -->
            <!-- single number -->
            <article class="col-lg-3 col-sm-12 contador">
                <span class="number" data-value="{{num_usuarios}}">0 +</span>
                <p>Usuarios Registrados</p>
            </article>
            <!-- end of single number -->
           
        </div>
        <div class="row d-flex justify-content-around text-center">
          <div>
            <h2>Ultimos emprendimimentos</h2>
          </div>
          <div class="slide-container swiper">
            <div class="slide-content">
              <div class="card-wrapper swiper-wrapper">
                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <!--<img src="images/profile1.jpg" alt="" class="card-img">-->
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                    <button class="button">View More</button>
                  </div>
                </div>
                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <!--<img src="images/profile2.jpg" alt="" class="card-img">-->
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                    <button class="button">View More</button>
                  </div>
                </div>
                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <!--<img src="images/profile3.jpg" alt="" class="card-img">-->
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                    <button class="button">View More</button>
                  </div>
                </div>
                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <!--<img src="images/profile4.jpg" alt="" class="card-img">-->
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                    <button class="button">View More</button>
                  </div>
                </div>
                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <!--<img src="images/profile5.jpg" alt="" class="card-img">-->
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                    <button class="button">View More</button>
                  </div>
                </div>
                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <!--<img src="images/profile6.jpg" alt="" class="card-img">-->
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                    <button class="button">View More</button>
                  </div>
                </div>
                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <!--<img src="images/profile7.jpg" alt="" class="card-img">-->
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                    <button class="button">View More</button>
                  </div>
                </div>
                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <!--<img src="images/profile8.jpg" alt="" class="card-img">-->
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                    <button class="button">View More</button>
                  </div>
                </div>
                <div class="card swiper-slide">
                  <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                      <!--<img src="images/profile9.jpg" alt="" class="card-img">-->
                    </div>
                  </div>
                  <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
                    <button class="button">View More</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
    </div>
</div>

{% endblock contenido %}