{% extends 'base.html' %}


{% block contenido %}
	
	<div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
      	<div class="row">
      	{% for emprendimientos in object_list %}
      		<div class="col-md-4">
                
            <a href="{% url 'empr:detalle_emprendimiento' emprendimientos.pk %}">
      			<h4>CATEGORIA: {{emprendimientos.categoria}}</h4>
      			<h4>TITULO: {{emprendimientos.titulo}}</h4>
      			<h4>FECHA: {{emprendimientos.creado}}</h4>
      			<img src="{{emprendimientos.imagen.url}}" width="200">
      			<h4>AUTOR: {{emprendimientos.autor}}</h4>
      			<hr>
            </a>
            
      		</div>
      	{% endfor %}
      </div>
      </div>
    </div>
  </div>

{% endblock contenido %}