{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style_empr_listar.css'%}">
{% endblock css %}

{% block contenido %}
<a href="{%url 'empr:crear_empredimiento'%}" class="btn btn-info text-center">Crear emprendimento</a>

<div class="categorias">
	<div class="row d-flex justify-content-around text-center">
		<div class="titulo">
		  <h2>{{enprendimientos.categorias}}</h2>
		</div>
		{%if num_emprendimientos == 0%}
		<h1>No hay Emprendimientos disponibles</h1>
		<h2>Por favor agregue 1</h2>
		{%else%}
		<div class="slide-container swiper">
		  <div class="slide-content">
			<div class="card-wrapper swiper-wrapper">
			  {%for emprendimimento in emprendimientos%}
			  <div class="card swiper-slide">
				<a href="{% url 'empr:detalle_emprendimiento' emprendimimento.pk %}">
				<div class="image-content">
				  
				  <span class="overlay"></span>
				  <div class="card-image">
					<img src="{{emprendimimento.imagen.url}}" alt="logo" class="card-img">
				  </div>
				</div>
				<div class="card-content">
				  <h2 class="name">{{emprendimimento.autor}}</h2>
				  <p class="description">{{emprendimimento.resumen}}</p>
				</div>
				<button class="button">Ver más</button>
			  </a>
			  </div>
			  {%endfor%}
			</div>
		  </div>
		  <div class="swiper-button-next swiper-navBtn"></div>
		  <div class="swiper-button-prev swiper-navBtn"></div>
		  <div class="swiper-pagination"></div>
		</div>
		{%endif%}
	  </div>
</div>


{% endblock contenido %}