{% extends 'base.html' %} 

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_registro.css'%}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock css %}

{% block contenido %}
{%for mensaje in messages%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Bien hecho!</strong> {{ mensaje }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
 
{%endfor%}
    <div class="base">
        <div class="formulario-contenedor">
            <div class="formulario-contacto">
                <form method="POST" class="contenedor">{%csrf_token%}
                    <h3 class="mb-4">CONTACTATE CON NOSOTROS</h3>
                    {{form.as_div}}
                    <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
                </form>
            </div>
            <div class="formulario-mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9307.418581222439!2d-58.976026710513054!3d-27.47096775387211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1690548550570!5m2!1ses-419!2sar" width="400" height="566" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div> 

{% endblock contenido %}   